<!DOCTYPE html>
<html lang="ja">
<head>
  <title>AI Webアプリケーション</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#83c666;">
        <div class="navbar-header">
          <a href="" class="navbar-brand">
            <font color="white">
              AI Webアプリケーション
            </font>
          </a>
        </div>
      </nav>
    </div>

    <div class="row" style="padding:160px 0 0 0">
      <div class="col-sm-1">
      	<!-- 余白 -->
      </div>

      <div class="col-sm-6">

        <!-- アップロードした画像を表示します -->
        <!-- もしも画像がアップロードされていたら、そのファイルを表示します -->
        <!-- もしも画像がアップロードされていなければ、No Imageの画像を表示します -->
        <!-- Write Me -->
        {% if predict %}
          
        {% else %}
          
        {% endif %}

        <div style="margin-top : 16px">

          <!-- 画像をアップロードする部分をコーディングします -->
          <form action = "./" method = "POST" enctype = "multipart/form-data">

            
            <!-- 画像をアップロードする部分を作成します -->
            <!-- Write Me -->
              
          

            <!-- 送信ボタンを作成作成します -->
            <!-- Write Me -->
            
          </form>

        </div>    
      </div>

      <div class="col-sm-5">
        <!-- アプリの概要を記述してください -->
        <!-- Write Me -->
        

        <div style="margin-top : 120px">
          <!-- 判定結果を出力します -->
          <!-- 変数predictを受け取って、表示をしてください -->
          <!-- Write Me -->
          {% if predict %}
            
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
